// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

$main-blue: #455cc7;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:hover {
    cursor: pointer;
}
.app-page {
    position: relative;
    display: flex;
    flex-grow: 1;
    .page-content {
        position: relative;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}

.home-page {
    max-height: calc(100vh - 50px);
    height: calc(100vh - 50px);
    .rooms-container {
        max-height: calc(100vh - 100px);
        height: calc(100vh - 100px);
    }
}

.single-room {
    height: calc(100vh - 50px) !important;
    max-height: calc(100vh - 50px) !important;
    .room-section {
        display: flex;
        border-top: 1px solid #eee;
        height: calc(100vh - 100px) !important;
        max-height: calc(100vh - 100px) !important;
        .room-users {
            display: flex;
            flex-direction: column;
            width: 300px;
            min-width: 300px;
            border-right: 1px solid #eee;
            transition: all 0.3s ease-in-out;
            @media (max-width: 992px) {
                width: 60px;
                min-width: 60px;
                transition: all 0.3s ease-in-out;
                .room-users-list {
                    position: relative;
                    .room-user {
                        padding: 5px !important;
                        .user-image {
                            margin: 0;
                        }
                        .user-info {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex: 1;
                            position: absolute;
                            right: 5px;
                            top: 10px;
                        }
                        .dropdown {
                            display: none;
                        }
                    }
                }
            }
            .room-user-search {
                margin: 0;
                padding: 5px 10px;
                border-bottom: 1px solid #eee;
                height: 60px;
                max-height: 60px;
                display: flex;
                align-items: center;
                position: relative;
                @media (max-width: 992px) {
                    width: 120px;
                    min-width: 120px;
                }
                &:focus-within {
                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        content: "";
                        width: 100%;
                        animation: bottom-border 0.5s ease-in-out;
                        height: 1px;
                        background-color: $main-blue;
                    }
                }
                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: "";
                    width: 0;
                    height: 1px;
                    transition: all 0.5s ease-in-out;
                }
                .search-input {
                    border: none;
                    display: flex;
                    flex-grow: 1;
                    padding: 5px 0;
                    @media (max-width: 992px) {
                        width: 100px;
                        min-width: 100px;
                        transition: all 0.3s ease-in-out;
                    }
                    &:focus {
                        outline: none;
                    }
                }
                i {
                    font-size: 18px;
                    color: #666;
                    @media (max-width: 992px) {
                        display: none;
                    }
                }
            }
            .room-users-list {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                border-bottom: 1px solid #eee;
                .room-user {
                    padding: 5px 10px;
                    border-bottom: 1px solid #eee;
                    display: flex;
                    align-items: center;
                    .user-info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex: 1;
                        .username {
                            font-size: 15px;
                            font-weight: 600;
                            @media (max-width: 992px) {
                                display: none;
                            }
                        }
                        .active-user {
                            width: 8px;
                            height: 8px;
                            background-color: #0099ff;
                            border-radius: 50%;
                        }
                    }
                }
            }
            .room-controls {
                display: flex;
                align-items: center;
                padding: 10px;
                justify-content: flex-end;
                & > div {
                    margin: 0 5px;
                    font-size: 16px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .room-messages {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            .room-info {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0 10px;
                max-height: 60px;
                height: 60px;
                border-bottom: 1px solid #eee;
                .room-image {
                    width: 45px;
                    height: 45px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                .room-name {
                    font-size: 16px;
                    font-weight: 700;
                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;
                    & > span:nth-child(2) {
                        font-size: 12px;
                        font-weight: 600;
                    }
                }
            }
            .room-message-container {
                padding: 10px;
                display: block;
                height: 100%;
                border-bottom: 1px solid #eee;
                position: relative;
                overflow: auto;
                .message-typing {
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                }
                .room-message-box {
                    padding: 3px 0;
                    position: relative;
                }
                .room-message-left-box {
                    display: flex;
                    span {
                        border-radius: 100px;
                        background-color: #f1f0f0;
                        color: #000;
                        padding: 8px 10px;
                    }
                }
                .room-message-right-box {
                    display: flex;
                    justify-content: flex-end;
                    span {
                        background-color: #5528ff;
                        border-radius: 100px;
                        color: #fff;
                        padding: 8px 10px;
                    }
                }
            }
            .room-message-input {
                height: 60px;
                min-height: 60px;
                display: flex;
                padding: 5px 10px;
                align-items: center;
                input {
                    height: 60px;
                    flex: 1;
                    padding: 0 10px;
                    font-size: 16px;
                    border: none;
                    &:focus {
                        outline: none;
                    }
                }
                .send {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    &:hover {
                        color: $main-blue;
                        cursor: pointer;
                    }
                    i {
                        font-size: 25px;
                    }
                }
            }
        }
        .add-user {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 10px 0;
            flex: 1;
            input {
                flex: 1;
                padding: 5px 10px;
                border: 1px solid #eee;
                border-radius: 5px;
                &:focus {
                    outline: none;
                    border: 1px solid #ccc;
                }
            }
            .search-users-list {
                display: flex;
                flex-direction: column;
                padding: 5px 0;
                .search-user {
                    padding: 5px 5px;
                    border: 1px solid #eee;
                    border-radius: 3px;
                    &:hover {
                        cursor: pointer;
                        background-color: #fefefe;
                    }
                }
            }
        }
    }
}
.user-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    &:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        cursor: pointer;
    }
    .letter {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        background-color: #e6e8ed;
        height: 100%;
        width: 100%;
        color: #000;
    }
    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
}
@keyframes bottom-border {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.my-toast {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;
    min-width: 250px;
    min-height: 75px;
    background-color: #4aaa4d;
    color: #fff;
    z-index: 100;
    border-radius: 5px;
    .my-toast-header {
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        cursor: pointer;
        .close-toast {
            &:hover {
                cursor: pointer;
                color: #fff;
            }
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            width: 100%;
            background-color: #fff;
        }
    }
    .my-toast-body {
        padding: 5px 10px;
    }
}

.my-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    .modal-content {
        background-color: #fff;
        display: flex;
        margin-top: 150px;
        width: auto;
        min-width: 300px;
        .header {
            height: 40px;
            max-height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #eee;
            i:hover {
                cursor: pointer;
            }
            div {
                font-weight: 600;
            }
        }
        .body {
            display: flex;
            padding: 5px 10px;
            border-bottom: 1px solid #eee;
            max-height: 500px;
            overflow: auto;
            input {
                border: 1px solid #eee;
                display: flex;
                width: 100%;
                padding: 5px;
                &:focus {
                    outline: none;
                }
            }
        }
        .foot {
            height: 40px;
            max-height: 40px;
            padding: 5px 10px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            button {
                margin: 0 3px;
            }
        }
    }
}

.profile-page {
    .my-profile {
        .my-card {
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.125),
                0 1px 3px rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            padding: 10px 20px;
        }
        .profile-header {
            display: flex;
            flex-direction: column;
            padding: 20px;
            align-items: center;
            position: relative;
            .user-image {
                width: 60px;
                height: 60px;
                margin: 5px 0;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .user-info {
                margin: 5px 0;
                font-size: 18px;
                font-weight: 500;
                line-height: 20px;
            }
            &::after {
                position: absolute;
                bottom: -5px;
                content: "";
                height: 1px;
                width: 100%;
                background-color: #ccc;
                max-height: 1px;
            }
        }
        .profile-info {
            .item {
                padding: 5px 0;
                margin: 10px 0;
                display: flex;
                justify-content: space-between;
                position: relative;
                &::after {
                    position: absolute;
                    bottom: -5px;
                    content: "";
                    height: 1px;
                    width: 100%;
                    background-color: #ccc;
                    max-height: 1px;
                }
                span {
                    font-size: 1.1em;
                    font-weight: 600;
                }
            }
            .item:last-child {
                &::after {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 0;
                }
            }
        }
    }
    .settings-tab {
        @media (max-width: 991.98px) {
            margin-top: 50px;
        }
        .settings {
            padding: 20px;
            width: 80%;
            label {
                font-weight: 600;
            }
            .form-image {
                border: 1px solid #ccc;
                flex: 1;
                padding: 10px 20px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                button {
                    margin-right: 20px;
                }
            }
        }
    }
}
.auth-pages {
    background-color: #3cdee4 !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 350px;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px 20px;
    .form {
        .form-header {
            margin: 10px 0;
            h6 {
                font-family: sans-serif;
                text-align: center;
                font-size: 17px;
                font-weight: 700;
                color: #3ce1ed;
                text-transform: uppercase;
                span {
                    color: #fdba2c;
                    text-transform: uppercase;
                }
            }
        }
        .form-image {
            display: flex;
            text-align: center;
            justify-content: center;
            overflow: hidden;
            margin: 10px 0;
            img {
                width: 200px;
                height: 200px;
            }
        }
        .submit-button {
            background-color: #0b294c;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            line-height: 18px;
            padding: 15px 50px;
            margin: 30px auto;
            display: block;
            border: none;
            border-radius: 100px;
        }
        .submit-button:focus {
            outline: none;
        }
    }
    .register {
        margin: 25px 0 15px;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        a {
            margin-left: 10px;
            font-size: 16px;
            font-weight: 600;
            color: #3ce1ed;
            text-decoration: none;
            &:hover {
                color: #1d68a7;
            }
        }
    }
    .image-preview {
        display: flex;
        justify-content: center;
        text-align: center;
        img {
            height: 80px;
            width: 80px;
        }
    }
}

.form-group-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 2px rgba(52, 144, 220, 0.25),
        0 0 3px rgba(52, 144, 220, 0.25);
    border-radius: 100px;
    padding: 0;
    margin: 20px 10px;
    label {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding: 0 10px;
    }
    input {
        border: none;
        border-radius: 100px;
        font-weight: 700;
    }
    input:focus {
        box-shadow: none;
    }
    input:-internal-autofill-selected {
        background-color: none;
    }
    &:focus-within {
        box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
    }
    .upload-icon {
        height: 40px;
        border: none;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        font-weight: 600;
        padding: 5px 105px;
        color: #fff;
        width: 100%;
        background-color: #3cdee4;
    }
    .upload-icon:focus {
        outline: none;
    }
    .select {
        border: none;
        border-radius: 100px;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

.invitation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    .count {
        position: absolute;
        width: 12px;
        height: 12px;
        top: 0;
        right: -5px;
        background-color: #0099ff;
        color: #fff;
        font-size: 8px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.dropdown {
    .dropdown-menu.show {
        right: 0;
        left: auto;
    }
}
